<div class="curver" data-ng-controller="cr_BridgeCtrl">


    <div class="font">
        <h5>Text</h5>

        <div class="font_body">
            <div class="row">
                <div class="col-sm-12">
                    <input type="text" placeholder="Enter text" class="form-control input-sm" ng-model="text_Bridge">
                </div>
            </div>
        </div>
    </div>

    <div class="border_line"></div>

    <div class="effects">
        <h5>Triangle</h5>

        <div class="checkbox m-n">
            <input type="checkbox" name="Triangle" id="checkbox1" ng-model="Triangle_Bridge">
            <label for="checkbox1">
                Yes/No
            </label>
        </div>
    </div>

    <div class="border_line"></div>

    <div class="alignment">
        <h5>Effects</h5>

        <div class="form-group p-t-none">
            <span> Curve</span>

            <div class="wrap_slider col-sm-12 p-r-none p-l-none p-t-xs">
                <div class="curve_Bridge"></div>
            </div>
        </div>
        <div class="form-group">
            <span> OffsetY</span>

            <div class="wrap_slider col-sm-12 p-r-none p-l-none p-t-xs">
                <div class="offsetY_Bridge"></div>
            </div>
        </div>
        <div class="form-group">
            <span> Text height</span>

            <div class="wrap_slider col-sm-12 p-r-none p-l-none p-t-xs">
                <div class="height_Bridge"></div>
            </div>
        </div>
        <div class="form-group last_eff">
            <span> Bottom</span>

            <div class="wrap_slider col-sm-12 p-r-none p-l-none p-t-xs">
                <div class="bottom_Bridge"></div>
            </div>
        </div>
    </div>


    <div class="border_line"></div>

    <div class="effects">
        <h5>Position</h5>

        <div class="form-group p-b-md">
            <span> Rotate</span>

            <div class="wrap_slider col-sm-12 p-r-none p-l-none p-t-xs">
                <div class="rotate_Bridge"></div>
            </div>
        </div>
        <div>
            <div class="row p-b-xs">
                <div class="form-group col-sm-6 m-n">
                    <span> The X coordinate</span>

                    <div class="p-t-xs">
                        <input type="text" placeholder="Enter X" class="form-control input-sm" ng-model="x_Bridge">
                    </div>
                </div>
                <div class="form-group col-sm-6 m-n">
                    <span> The Y coordinate</span>

                    <div class="p-t-xs">
                        <input type="text" placeholder="Enter Y" class="form-control input-sm" ng-model="y_Bridge">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="form-group col-sm-6 m-n">
                    <span> Height</span>

                    <div class="p-t-xs">
                        <input type="text" placeholder="Enter height" class="form-control input-sm" ng-model="height_Bridge">
                    </div>
                </div>
                <div class="form-group col-sm-6 m-n">
                    <span> Width</span>

                    <div class="p-t-xs">
                        <input type="text" placeholder="Enter width" class="form-control input-sm" ng-model="width_Bridge">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="border_line m-t-sm m-b-sm"></div>

    <div class="footer row">
        <div class="button_style btn-group col-sm-9" data-toggle="buttons">
            <label ng-click="back($event)" class="btn btn-default btn-sm col-sm-6" ng-class="disabled_button_back ? 'disabled' : ''">
                <i class="fa fa-long-arrow-down"></i> <span>Back</span>
            </label>
            <label ng-click="forward($event)" class="btn btn-default btn-sm col-sm-6" ng-class="disabled_button_forward ? 'disabled' : ''">
                <i class="fa fa-long-arrow-up"></i> <span>Forward</span>
            </label>
        </div>
        <div ng-click="remove($event)" class="col-sm-3 p-l-none btn-group button_style" data-toggle="buttons" ng-class="disabled_button_remove ? 'disabled' : ''">
            <label class="remove btn btn-default btn-sm">
                <i class="fa fa-trash-o"></i>
            </label>
        </div>
    </div>


</div>