<!--<div class="wrap_center_option_panel">-->
    <!--<div class="center_option_panel">-->
        <!--<div class="center_option_item center_option_open">-->
            <!--<div class="center_option_item_border">-->
                <!--Open <i class="fa fa-caret-down"></i>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="center_option_item">-->
            <!--<div class="center_option_item_border">-->
                <!--<i class="fa fa-camera fa-lg"></i>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="center_option_item">-->
            <!--<div class="center_option_item_border">-->
                <!--<i class="fa fa-eye fa-lg"></i>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="center_option_item">-->
            <!--<div class="center_option_item_border">-->
                <!--<i class="fa fa-reply fa-lg"></i>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="center_option_item">-->
            <!--<div class="center_option_item_border">-->
                <!--<i class="fa fa-share fa-lg"></i>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="center_option_item">-->
            <!--<div class="center_option_item_border">-->
                <!--<i class="fa fa-floppy-o fa-lg"></i>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="center_option_item">-->
            <!--<div class="center_option_item_border">-->
                <!--<i class="fa fa-trash fa-lg"></i>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="center_item center_undo" data-ng-click="cr_CommandsManager.undo()">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="center_wrap">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="center_undo-item glyphicon glyphicon-share-alt"&ndash;&gt;-->
             <!--&lt;!&ndash;data-ng-class="{center_deactivate: !cr_CommandsManager.canUndo()}"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="center_title" translate="center.actions.UNDO">Undo</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="center_item center_redo" data-ng-click="cr_CommandsManager.redo()">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="center_wrap">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="center_redo-item glyphicon glyphicon-share-alt"&ndash;&gt;-->
             <!--&lt;!&ndash;data-ng-class="{center_deactivate: !cr_CommandsManager.canRedo()}"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="center_title" translate="center.actions.REDO">Redo</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->