<div class="products contact">
    <!--<div class="modal-header">-->
    <!--<h3 class="modal-title">{{ctrl.modal_title}}</h3>-->
    <!--</div>-->
    <div class="modal-body p-none">
        <!--<h4 ng-show="ctrl.modal_description">{{ctrl.modal_description}}</h4>-->
        <!--<h5 class="text-info" ng-show="ctrl.messages && ctrl.messages.length" data-ng-repeat="message in ctrl.messages"-->
        <!--ng-bind-html="message"></h5>-->
        <!--<h5 class="text-danger" ng-show="ctrl.errors && ctrl.errors.length" data-ng-repeat="error in ctrl.errors"-->
        <!--ng-bind-html="error"></h5>-->

        <div class="creatorBox">
            <div id="creator" class="shirtinator-creator standard shrcProductMenuCursor">
                <div class="shrcDisabler"></div>
                <div class="product_details active" id="product_details">
                    <a class="close" ng-click="ctrl.cancel()"></a>

                    <div class="left_part">
                        <div class="navbar-default sidebar" role="navigation">
                            <div class="sidebar-nav navbar-collapse">
                                <map center="30.24833,-97.76950119999998" zoom="13">
                                    <marker position="30.24833,-97.76950119999998" title="Hello World!"></marker>
                                </map>
                            </div>
                        </div>
                    </div>
                    <div class="right_part"
                         ng-init="category='Show all'; category_filter=''; size='Show all'; size_filter=''; material='Show all'; material_filter='';">
                        <div class="head shadow p-sm">
                            <h2 class="p-l-md">Contact us</h2>
                        </div>
                        <div class="products_content-row">
                            <div class="">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="">
                                            <form class="form-horizontal" method="post">
                                                <fieldset>
                                                    <div class="form-group">
                                                        <span class="col-md-1 text-center"><i
                                                                class="fa fa-user bigicon"></i></span>

                                                        <div class="col-md-7">
                                                            <input id="fname" name="name" type="text"
                                                                   placeholder="First Name" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <span class="col-md-1 text-center"><i
                                                                class="fa fa-user bigicon"></i></span>

                                                        <div class="col-md-7">
                                                            <input id="lname" name="name" type="text"
                                                                   placeholder="Last Name" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <span class="col-md-1 text-center"><i
                                                                class="fa fa-envelope-o bigicon"></i></span>

                                                        <div class="col-md-7">
                                                            <input id="email" name="email" type="text"
                                                                   placeholder="Email Address" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <span class="col-md-1 text-center"><i
                                                                class="fa fa-phone-square bigicon"></i></span>

                                                        <div class="col-md-7">
                                                            <input id="phone" name="phone" type="text"
                                                                   placeholder="Phone" class="form-control">
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <span class="col-md-1 text-center"><i
                                                                class="fa fa-pencil-square-o bigicon"></i></span>

                                                        <div class="col-md-7">
                                                            <textarea class="form-control" id="message" name="message"
                                                                      placeholder="Enter your massage for us here. We will get back to you within 2 business days."
                                                                      rows="7"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-12 col-md-offset-1">
                                                            <button type="submit" class="btn btn-primary btn-lg">
                                                                Submit
                                                            </button>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="info_box">
                            <h4>Contacting IDCreator</h4>
                            <!--<p>How to Buy for Education-->
                            <!--If you are a student or teacher, visit the Apple Store for Education or call 1-800-692-7753, 7 days a week from 4:00 a.m. to 10:00 p.m. Pacific time.-->
                            <!--If you are buying on behalf of an educational institution, visit the Apple Store for Education Institutions or call 1-800-800-2775, 7 days a week from 5:30 a.m. to 4:30 p.m. Pacific time.</p>-->
                            <ul class="p-none">
                                <li>
                                    Apple Media Helpline (408) 974-2042
                                </li>
                                <li>
                                    Apple Software Upgrade Center (888) 840-8433
                                </li>
                                <li>
                                    Reseller Referral (Resellers, Trainers, Consultants) (800) 538-9696
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="cart">
                </div>
                <div class="pimp_container">

                </div>
            </div>
        </div>
    </div>

</div>
<!--<div class="modal-footer">-->
<!--</div>-->
</div>