<div class="add_basket FAQ">
    <div class="modal-header header">
        <span class="title">{{ctrl.modal_title || 'Choose size and amount'}}</span>
        <span class="close" ng-disabled="loading" ng-click="ctrl.cancel()">{{ctrl.modal_button_cancel || 'CLOSE'}}<div
                class="cross"></div></span>
    </div>
    <div class="modal-body content">

        <!--<h4 ng-show="ctrl.modal_description">{{ctrl.modal_description}}</h4>-->
        <!--<h5 class="text-info" ng-show="ctrl.messages && ctrl.messages.length" data-ng-repeat="message in ctrl.messages"-->
        <!--ng-bind-html="message"></h5>-->
        <!--<h5 class="text-danger" ng-show="ctrl.errors && ctrl.errors.length" data-ng-repeat="error in ctrl.errors"-->
        <!--ng-bind-html="error"></h5>-->

        <div>
            <ul class="nav" id="FAQ-menu">
                <li ng-repeat="item in FAQ" class="FAQ_wrap_item active" ng-if="$index == 0">
                    <a href="#"> {{item.title}}</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <div class="FAQ_body">
                                <span>{{item.content}}</span>
                            </div>
                            <div class="FAQ_footer">
                                <span translate="dialogs.FAQ.USEFUL">Was this question useful?</span>
                                <button class="FAQ_Like"><i class="fa fa-thumbs-o-up"></i> <span
                                        translate="dialogs.FAQ.YES">Yes</span></button>
                                <button class="FAQ_DisLike"><i class="fa fa-thumbs-o-down"></i> <span
                                        translate="dialogs.FAQ.NO">No</span></button>
                                <button class="FAQ_Report" translate="dialogs.FAQ.REPORT">Report this question</button>
                            </div>
                        </li>
                    </ul>
                </li>
                <li ng-repeat="item in FAQ" class="FAQ_wrap_item" ng-if="$index != 0">
                    <a href="#"> {{item.title}}</a>
                    <ul class="nav nav-second-level">
                        <li>
                            <div class="FAQ_body">
                                <span>{{item.content}}</span>
                            </div>
                            <div class="FAQ_footer">
                                <span translate="dialogs.FAQ.USEFUL">Was this question useful?</span>
                                <button class="FAQ_Like"><i class="fa fa-thumbs-o-up"></i> <span
                                        translate="dialogs.FAQ.YES">Yes</span></button>
                                <button class="FAQ_DisLike"><i class="fa fa-thumbs-o-down"></i> <span
                                        translate="dialogs.FAQ.NO">No</span></button>
                                <button class="FAQ_Report" translate="dialogs.FAQ.REPORT">Report this question</button>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <!--<div ng-repeat="item in FAQ" class="FAQ_wrap_item">-->
            <!--<div class="FAQ_head">-->
            <!--<span>{{item.title}}</span>-->
            <!--</div>-->
            <!--<div class="FAQ_body">-->
            <!--<span>{{item.content}}</span>-->
            <!--</div>-->
            <!--<div class="FAQ_footer">-->
            <!--<span>Was this question useful?</span>-->
            <!--<button class="FAQ_Like"><i class="fa fa-thumbs-o-up"></i> Yes</button>-->
            <!--<button class="FAQ_DisLike"><i class="fa fa-thumbs-o-down"></i> No</button>-->
            <!--<button class="FAQ_Report">Report this question</button>-->
            <!--</div>-->
            <!--</div>-->
        </div>

    </div>
    <div class="modal-footer footer">
        <button type="submit" ng-click="ctrl.ok()" class="btn btn-primary">Ok</button>
    </div>
</div>