<div class="objects" data-ng-controller="cr_ObjectsCtrl">
    <div class="wrap_scroll">
        <div class="motifs_scroll scrollbar-light" data-jquery-scrollbar="cr_ScrollbarFactory.options">
            <div class="motifs_scroll-content">
                <div class="objects_content-item item">
                    <div class="font">
                        <h5> Text</h5>

                        <div class="font_body">
                            <div class="p-b-sm">
                                <div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.TEXTBOX)">
                                    TEXT #1
                                </div>
                                <div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.ITEXT)">
                                    TEXT #2
                                </div>
                                <div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.CR_CURVE_TEXT)">
                                    TEXT #3
                                </div>
                                <!--<div class="object_item"-->
                                     <!--data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.CR_BRIDGE_TEXT)">-->
                                    <!--TEXT #4-->
                                <!--</div>-->
                                <!--<div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.CR_RICH_TEXT)">-->
                                    <!--TEXT #5-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>

                    <div class="border_line"></div>

                    <div class="font">
                        <h5> Geometry</h5>

                        <div class="font_body">
                            <div class="p-b-sm">
                                <div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.CIRCLE)">
                                    CIRCLE
                                </div>
                                <div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.LINE)">
                                   LINE
                                </div>
                                <div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.OVAL)">
                                    OVAL
                                </div>
                                <div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.POLYGON)">
                                    POLYGON
                                </div>
                                <div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.RECT)">
                                    RECT
                                </div>
                            </div>
                            <div class="p-b-sm">
                                <div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.STAR)">
                                    STAR
                                </div>
                                <div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.TRIANGLE)">
                                    TRIANGLE
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border_line"></div>

                    <div class="font">
                        <h5> QR/Bar</h5>

                        <div class="font_body">
                            <div class="p-b-sm">
                                <div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.CR_QRCODE)">
                                    QR
                                </div>
                                <div class="object_item" data-ng-click="objectClick(cr_Enums.OBJECT_TYPE.CR_QRCODE)">
                                    BAR
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="border_line"></div>

                    <div class="font">
                        <h5> Other</h5>

                        <div class="font_body">
                            <div class="p-b-sm">
                                <div class="object_item">
                                    OBJECT
                                </div>
                                <div class="object_item">
                                    OBJECT
                                </div>
                                <div class="object_item">
                                    OBJECT
                                </div>
                                <div class="object_item">
                                    OBJECT
                                </div>
                                <div class="object_item">
                                    OBJECT
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>