<div class="dropdown dropdown-context pos-fix" id="tree-context">
    <ul class="dropdown-menu" role="menu">
        <li ng-click="">
            <a class="cursor-pointer">
                <i class="fa ddc-icon"></i>
                <span class="ddc-option">Item 1</span>
                <span class="ddc-key"></span>
            </a>
        </li>
        <li ng-click="">
            <a class="cursor-pointer">
                <i class="fa ddc-icon"></i>
                <span class="ddc-option">Item 2</span>
                <span class="ddc-key"></span>
            </a>
        </li>
        <li ng-click="">
            <a class="cursor-pointer">
                <i class="fa ddc-icon"></i>
                <span class="ddc-option">Item 3</span>
                <span class="ddc-key"></span>
            </a>
        </li>
    </ul>
</div>