<!--<div class="center_brand">{{product.brand}}</div>-->
<!--<div class="center_name">{{product.title}}</div>-->
<!--<ul class="center_gender">-->
    <!--<li ng-click="detail_tab('gender_item_{{item}}', 'gender_items')" class="gender_items gender_item_{{item}}"-->
        <!--data-ng-class="{active: product.gender==item}"-->
        <!--ng-repeat="item in product.available_gender">{{item}}-->
    <!--</li>-->
<!--</ul>-->

<!--<div class="center_color-selector" ng-click="toggleColorPanel()">-->
    <!--<div class="center_title" ng-style="{ 'background-color': product.colors[0] }"></div>-->
    <!--<div class="center_arrow"></div>-->
    <!--<div class="center_color-list palette">-->
        <!--<div ng-repeat="item in product.colors" class="sample" ng-click="colorPick(item)"-->
             <!--draggable="true" ng-style="{ 'background-color': item }"></div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="center_thumbs">-->
    <!--<div class="center_viewItem" ng-repeat="item in product.preview_img">-->
        <!--<div class="center_prodPreview">-->
            <!--<img ng-src="{{item}}" alt=""/>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

