<div class="font graphic">
    <h5>Fill</h5>

    <div class="icons_body">
        <div class="text_wrap-content">
            <div class="text_scroll scrollbar-light"
                 data-jquery-scrollbar="cr_ScrollbarFactory.options">
                <div class="text_scroll-content">

                    <div ng-click="ExtraFontClick(item.id)" class="item" ng-repeat="item in extra_fonts">
                        <div>
                            <img ng-src="{{item.url}}" alt=""/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>